<div class="input center">
	<p>
 

  <%= form_for @blog do |f| %>
    <input placeholder="title" type="text" name="name">
    <input placeholder="Image Url" type="text" name="image">
    <textarea cols="30" name="text" placeholder="text" rows="10"></textarea>
    <input class="waves-effect waves-light #90caf9 blue lighten-3 btn" type="submit" value="SENT">
  <% end %>
</div>