/*インデックス系css*/

.container {
	width: 500px;
}

.card-container {
	width: 500px;
	margin: 0 auto;
}

.book_title {
	color: black;
	font-size: 20px;
}

.posted_by {
	color: black;
	font-size: 16px;
	float: right;
}

.contentsrow {
	height: 100px;
	width: 70%;
	
}

.content_post {
	background-size: cover;
	height: 500px;
	width: 70%;
	margin: 0 auto;
}

.card-content{
    height: 200px;
    overflow: hidden;
}

.posted_by_content {
	margin-top: 20px;
	text-overflow: ellipsis;  
	overflow: hidden;
}


.card-image img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.card-action {
	height: 70px;
}

.card-action li {
	text-align: center;
	list-style: none;
	float: left;
	width: 33%;
}


.input {
	margin-top: 100px;
}

.name {
	font-size: 30px;
	bottom: 0px;
}

.text {
	background-color: #f0f0f0;
	height: 100px;
	width: 70%;
	margin: 0 auto;
	margin-bottom: 20px;
}

/*詳細*/

.card-content-show{
	padding: 24px;
}

.posted_by_content-show {
	margin-top: 20px;
	width: 431px;
}

.container .input {
	margin-top: 50px;
}


/*新規、編集系*/

.input {
	height: 100px;
	margin: 0 auto;
	width: 400px;	
}

.input .btn {
	margin-top: 50px;
}

.input p {
	margin: 50px;
	font-size: 30px;
}



/*コメント系*/


.card-content-comment {
    height: 250px;
    overflow: hidden;
    text-align: center
}

.card-content-comment p {
    text-align: center;
	font-size: 15px;
	margin: 0;
}

.comments {
	height: 100px;
	width: 70%;
	margin: 0 auto;
}

.card-title p{
	margin: 10px auto 10px;
	padding-bottom: 15px;
	font-size: 18px;
}

.card-content p {
	color: black;
	text-align: center;
	font-size: 15px;
}

#review_rate {
	width: 50px;
	color: black;
	font-size: 20px;
	text-align: center;	
	margin-bottom: 0px;
	border-bottom: none;
}

.fa-yellow {
	color: #ffa500;
}

.fa-gray {
	color: #f0f0f0;
}
/*完了メッセージcss*/
.success p {
	margin: 50px;
	font-size: 30px;
}

/*新規登録*/

.actions {
	margin-top: none;
	margin-bottom: 50px; 
}



